//$primary : #eee;
$footer :#B9B7BD;
$secondary : #486dbd86;
$button:#486dbd;
$sidebar :#fff;
$hover:#486dbd3d;
$active :#656a81;
$active_2 : #486dbd;
$element:#00a7b7;
$activeTab:#00a8b732;
$background:#f6f7f9;
$boxshadow:#ededed;
$redcolor:#f3677f;
